.CheckoutSummary {
    text-align: center;
    width: 80%;
    margin: auto;
}

.CheckoutSummary .CheckoutSummary_BurgerContainer {
    width: 100%;
    margin: auto;
}

.checkoutButton:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Button_Danger {
    color: #944317;
}

.checkoutButton {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: 700;
}

.Button_Success {
    color: #5c9210;
}